
@using (Html.BeginForm("Delete", "TestCrudRepository", FormMethod.Post))
{
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLable">Delte Item</h4>
        </div>
        <div class="modal-body">
            @Html.Hidden("Id")
            Are you sure you want to delete Contact <b>@Model.FirstName @Model.LastName ?</b>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-warning">Delete</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
}